* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .dialog-content img.usdt-crypto {
    height: 100px;
    width: auto; 
  }


  .payment-method
  {
    width: 47%;
    margin-bottom: 2vw;
  }
  
  
  .donate {
    position: absolute;
    background-color: white;
    z-index: 10000000000000000000000000000000000000000000000000000000000000;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
  }
  
  .donateNav > :first-child {
    width: 30vw;
  }
  
  .donateNav > :not(:first-child) img {
    width: 6vw;
  }
  
  .donateNav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 5vw;
  }
  
  .donateNav div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
  }
  
  .bill {
    width: 100%;
    padding: 4vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .bill > :first-child h1 {
    color: rgb(31, 31, 94);
  }
  
  .btnd {
    display: flex;
    gap: 2vw;
  }
  
  .btnss h1 {
    font-size: 1.5vw;
    margin: 8px;
  }
  
  .btnd button {
    width: 20vw;
    height: 4vw;
    font-size: 1vw;
    font-weight: 900;
    color: white;
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btnd button:hover {
    background-color: #1cd638;
  }
  
  .billing {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
  }
  
  .billing button {
    height: 50px;
    width: 5vw;
    background-color: gray;
    cursor: pointer;
    font-weight: 900;
    color: white;
  }
  
  .billing button:hover {
    background-color: #5e5d21;
  }
  
  .billing input {
    width: 5vw;
    height: 50px;
  }

  .crypto
  {
    width: 50%;
  }
  
  .billing input::placeholder {
    text-align: center;
  }
  
  .donatebtn {
    width: 150px;
    height: 50px;
    background-color: #718C75;
    color: white;
    font-weight: 900;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 10px;
  }

  .donatebtn:hover{
    background-color:  #1cd638;
  }
  
  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dialog-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
  }
  
  .dialog-content p {
    margin-bottom: 20px;
  }
  
  .PP {
    color: blue;
    font-size: 15px;

  }
  
  .PP2 {
    color: red;
    font-weight: 700;
  }
  
  .dialog-content button {
    background-color: blue;
    color: white;
    font-weight: 900;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
  }

  /* form{
    width: auto;
    height: 100svh;
    position: absolute;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    top: 0;
    overflow: auto;
  }

  form h2{
    color: white;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: auto;
  }
  .next
  {
     top: 500px;
     left: 70%;
    color: white;
    width: 100px;
  } */
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .Label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
  }
  
  .Input,
  .Select{
    width: 100%;
    padding: 8px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .Button:hover {
    background-color: #218838;
  }
  
  .rb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .billing .selected {
    background-color: #718C75;
    color: white;
  }
  
  .frequency-button.selected {
    background-color: #718C75;
    color: white;
  }

  
  
  
  
  @media (max-width: 1004px) {
    .donate {
      height: auto;
      padding-bottom: 20px;
    }


    .frequency-button.selected {
      background-color: orange;
      color: white;
    }
    
  
    .donateNav > :first-child {
      width: 70vw;
    }
  
    .donateNav > :not(:first-child) img {
      width: 20vw;
      margin: 10px;
    }

    .billing .selected {
      background-color: orange;
      color: white;
    }

    .payment-method
  {
    width: 100%;

    margin-bottom: 5vw;
  }
  
    .donateNav {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30vw;
      justify-content: center;
    }
  
    .bill {
      padding: 4vw;
      grid-template-rows: 20vw 50vw 1fr;
      align-items: center;
    }
  
    .bill > :first-child h1 {
      text-align: center;
    }
  
    .btnd {
      flex-direction: column;
    }
  
    .btnss h1 {
      font-size: 4vw;
      margin: 8px;
      text-align: center;
      padding: 5px;
    }
  
    .btnd button {
      width: 100%;
      height: 10vw;
      font-size: 4vw;
    }
  
    .billing {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

   
  
    .billing button,
    .billing input {
      width: 100%;
      height: 50px;
    }
  
    .donatebtn {
      width: 100%;
      height: 50px;
    }
  
    .dialog-content {
      width: 80%;
      max-width: 400px;
    }

    .PP {
      color: blue;
      font-size: 10px;
  
    }
    
    .PP2 {
      color: red;
      font-weight: 700;
    }
  }
  