* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: white;
    top: 0;
    position: fixed;
    z-index: 3000;
    
}

.nav img {
    width: 200px;
    margin-left: 100px;
}

.nav-links {
    display: flex;
    /* gap: 50px; */
    align-items: left ;
    justify-content: left;
    list-style: none;
    /* border: 1px solid black; */
}

ul button {
    border: none;
    background-color: white;
}

ul .a {
    text-decoration: none;
    background-color: none;
    color: rgba(1, 22, 7, 1);
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
}

ul .a:hover {
    color: rgba(0, 168, 89, 1);
}

.heart {
    width: 30px;
    color:  rgba(0, 168, 89, 1);
}
.heart-div {
    display: none;
}

.back-drop
{
    display: none;
}

/* Keyframes for flicker animation */
@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 1;
    }
    20%, 24%, 55% {
        opacity: 1;
    }
    22% {
        opacity: 0.5;
    }
}

/* Responsive Styles */
@media (max-width: 853px) {
    .nav {
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
    
    .nav .logo {
        margin-left: 0;
        width: 20vw;
        justify-self: center;
    }

    ul {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links {
        width: 100%;
        background: linear-gradient(45deg, rgb(252, 252, 252), rgb(184, 252, 220)); /* Gradient background */
        border: none;
        animation: flicker 10s infinite; /* Apply flicker animation */
        margin-top: 20rem;
        position: absolute; 
        display: flex;
    }
    .back-drop
    {
        display: block;
        position: absolute;
        width: 100%;
        border: solid;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        top: 2rem;
        padding: 2vw;
        border-color: grey;
        z-index: -100000000000;
        opacity: 0.3;
        
    }

    /* .back-drop img
    {
         width: 80%; 
    } */

    .a {
        background: none;
        font-size: 3vw;
    }

    ul button {
        background: none;
    }

    .open {
        display: none;
    }


    .heart-div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15vw;
        
    } .heart-div {
        display: flex;
    }

    .main-nav {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        
    }

    .nav .logo {
        width: 40vw;
    }
.x
{
    font-size: 4vw;
    color: darkgreen;
  
}

}

@media (max-width: 480px) {
    .nav {
        padding: 10px;
    }
    
    .nav .logo {
        width: 40vw;
    }

    ul {
        gap: 15px;
    }

    ul .a {
        font-size: 14px;
        background: none;
    }


    .back-drop
    {
        display: block;
        position: absolute;
        width: 100%;
        border: solid;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        padding: 2vw;
        top: 2rem;
        border-color: grey;
        z-index: -100000000000;
        opacity: 0.3;
    }

    .x{
        margin-top: 10rem;
        width: 60px;
        font-size: larger;
        box-shadow: 1px 1px 1px 1px black;
    }
    .back-drop img
    {
         width: 80%;
       
    }

    .heart-div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .open {
        display: none;
    }

    .main-nav {
        display: flex;
    }

    .nav-links {
        background: linear-gradient(45deg, rgb(255, 255, 255), rgb(184, 252, 220)); /* Gradient background */
        animation: flicker 10s infinite; /* Apply flicker animation */
    }
}



